<!-- Has access to all properties on the data object passed into the renderTemplate method -->
<!-- So far: word, partOfSpeech, definition, sentence, url -->
<div class='container'>
  <h1>{{word}}</h1>
  <h3><i>({{partOfSpeech}})</i></h3>
  <p><strong>Definition: </strong><span>{{definition}}</span></p>
  <p>"{{sentence}}"</p>
  <p><a href="{{url}}">Read more</a> about {{word}}</p>
</div>